@model PatientsViewModel
@{
    ViewData["Title"] = "Patient";
}
<div class="my-4">
    <h1 class="avans font-weight-bold float-left">Patient</h1>
    <a asp-action="PatientFormUpdate" asp-route-id="@Model.PatientNumber" class="btn btn-danger avans-background  text-center float-right">Aanpassen</a>
</div>
<div>
    <ul class="list-group list-group-flush col-7 float-left">
        <li class="list-group-item">Naam: @Model.Name</li>
        <li class="list-group-item">Email: @Model.Email</li>
        <li class="list-group-item">Geboortedatum: @Model.Birthday.ToShortDateString()</li>
        <li class="list-group-item">Student/personeelsnummer: @Model.IdentificationNumber</li>
        <li class="list-group-item">Telefoonnummer: @Model.PhoneNumber</li>
        <li class="list-group-item">Gender: @Model.Gender</li>
    </ul>
    <div class="col-4 float-right">
        <img src="data:image/png;base64,@Model.Img" class="rounded border border-dark border-3 img-fluid" alt="Profielfoto"/>
    </div>
</div>
<br />
