@model TreatmentViewModel
@{
    ViewData["Title"] = "Behandeling";
}

<div class="my-4">
    <h1 class="avans font-weight-bold float-left">Behandeling</h1>
    @if (@Model.CreationDate.Date == DateTime.Now.Date)
    {
        <a asp-action="TreatmentFormUpdate" asp-route-id="@Model.Id" class="btn btn-danger avans-background  text-center float-right mx-1">Aanpassen</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger avans-background  text-center float-right mx-1">Verwijderen</a>
    }
</div>
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Behandeling op: @Model.TreatmentDate</li>
        <li class="list-group-item">Type: @Model.Type</li>
        <li class="list-group-item">Ruimte: @Model.Room</li>
        <li class="list-group-item">Bijzonderheden: @Model.Specifics</li>
        <li class="list-group-item">Beschrijving: @Model.Description</li>
        @if (@Model.Student != null)
        {
            <li class="list-group-item"> Behandelaar: @Model.Student.Name</li>
        }
        else
        {
            <li class="list-group-item"> Behandelaar: @Model.Physiotherapist.Name</li>
        }
        <li class="list-group-item">Aangemaakt op: @Model.CreationDate.ToShortDateString()</li>
    </ul>
</div>
<div>
    <a class="btn btn-danger avans-background float-right" href="javascript:void(0);" onclick="history.go(-1);">Terug</a>
</div>